# Tagging ClickOnce files as binary
*.deploy binary
*.manifest binary

# Ignoring files on Releases
Application export-ignore
.gitattributes export-ignore
LICENSE export-ignore
README.md export-ignore
